<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jodycalhoun.tech.web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Welcome to jodycalhoun.tech!</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/in/jody-kaun-calhoun-5b330142" class="nav-link text-dark">LinkedIn</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/jody-calhoun" class="nav-link text-dark">Git</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="container-home" style="padding: 0px;">
            <img src="~/images/header.jpg" class="figure-img img-fluid rounded image" alt="Welcome" style="width:100%;">
            <div class="centered-text-home">Welcome, below are a few sites that I'm working on!</div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="container" style="padding: 0px;">
            <img src="~/images/jessica.jpg" class="figure-img img-fluid rounded image" alt="Jessica">
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; <script>document.write(new Date().getFullYear())</script> - jodycalhoun.tech.web
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    /* Container holding the image and the text */
    .container-home {
        position: relative;
        text-align: center;
        color: white;
    }

    /* Centered text */
    .centered-text-home {
        position: absolute;
        top: 50%;
        left: 60%;
        color: gray;
        transform: translate(-50%, -50%);
    }

</style>


