@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="https://www.svdpbaraboo.org">
                            <svg class="bd-placeholder-img card-img-top" style="background-image: url('../images/projects/svdp-baraboo.jpeg'); background-repeat: no-repeat; background-position: center;" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>St. Vincent de Paul Thrift Store Baraboo</title>
                            </svg>
                        </a>
                        <div class="card-body">
                            <p class="card-text">St. Vincent de Paul Thrift Store in Baraboo, WI.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Project: 20211230</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="https://www.svdpreedsburg.org">
                            <svg class="bd-placeholder-img card-img-top" style="background-image: url('../images/projects/svdp-reedsburg.jpeg'); background-repeat: no-repeat; background-position: center;" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>St. Vincent de Paul Thrift Store Reedsburg</title>
                            </svg>
                        </a>
                        <div class="card-body">
                            <p class="card-text">St. Vincent de Paul Thrift Store in Reedsburg, WI.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Project: 20211230</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="https://www.halosmartbarnsystems.com">
                            <svg class="bd-placeholder-img card-img-top" style="background-color: #002762; background-image: url('../images/projects/halo-primary-logo-smaller.png'); background-repeat: no-repeat; background-position: center;" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Halo Smart Barn Systems</title>
                            </svg>
                        </a>
                        <div class="card-body">
                            <p class="card-text">Halo Smart Barn Systems feature a safe, efficient, affordable and retractable equestrian solution for corrals, round-pens and arenas.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Project: 20211230</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
